<h1>Text for the volunteer benefits</h1>
<h2>FR</h2>
<editor [init]="tinyMceConfig" [(ngModel)]="volunteerFr"></editor>
<button mat-raised-button color="primary" (click)="saveVbFr()">Save</button>
<h2>NL</h2>
<editor [init]="tinyMceConfig" [(ngModel)]="volunteerNl"></editor>
<button mat-raised-button color="primary" (click)="saveVbNl()">Save</button>

<hr>

<h1>Text for the general new infos</h1>
<h2>FR</h2>
<editor [init]="tinyMceConfig" [(ngModel)]="newInfosFr"></editor>
<button mat-raised-button color="primary" (click)="saveNiFr()">Save</button>
<h2>NL</h2>
<editor [init]="tinyMceConfig" [(ngModel)]="newInfosNl"></editor>
<button mat-raised-button color="primary" (click)="saveNiNl()">Save</button>