<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Return from Viva Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="status">
    <ion-spinner *ngIf="isLoading" name="lines"></ion-spinner>
    <div *ngIf="!isLoading">
      <h1>
        Hello message {{message}}
      </h1>
      <h1>
        Hello status {{status}}
      </h1>
      <h1>
        Hello user mail {{user?.email}}
      </h1>
      <h1>
        Hello user ticket {{user?.sellTickets}} {{user?.sellTicketsGoal}}
      </h1>
      <h1>
        <ion-progress-bar [value]="progress" color="danger"></ion-progress-bar>
      </h1>
      <h1 *ngIf="status === 'success'">
        One ticket sell !
      </h1>
      <h1 *ngIf="status !== 'success'">
        Something was wrong ...
      </h1>
    </div>
  </div>

  <h1 *ngIf="!status">
    Where did you come from ?
    <hr>
    <div>
      <ion-progress-bar [value]="progressDemo" color="danger"></ion-progress-bar>
    </div>
  </h1>

</ion-content>
