<h1>All tickets</h1>
<h2>Total selling: {{sellingInformationsAmountTickets}}</h2>

<table mat-table [dataSource]="sellingInformationsAll" class="mb-2">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="clientName">
    <th mat-header-cell *matHeaderCellDef>Client Name</th>
    <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
  </ng-container>

  <ng-container matColumnDef="channel">
    <th mat-header-cell *matHeaderCellDef>Channel</th>
    <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
  </ng-container>

  <ng-container matColumnDef="zip">
    <th mat-header-cell *matHeaderCellDef>zip</th>
    <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="sellerName">
    <th mat-header-cell *matHeaderCellDef>Seller Name</th>
    <td mat-cell *matCellDef="let element"> {{element.sellerName}} </td>
  </ng-container>

  <ng-container matColumnDef="workGroup">
    <th mat-header-cell *matHeaderCellDef>From work group ?</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.workGroup" fontIcon="check_circle">
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedDepartmentColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedDepartmentColumns;"></tr>
</table>